/* variables for whole web */
:root {
  --my-font: "Montserrat", sans-serif;
  --web-color-l-gray: #efefef;
  --web-main-color-light: #fec982;
  --web-main-color-dark: #5e2c00;

  --web-fS-lg: 4rem;
  --web-fS-md: 1.6rem;
  --web-fS-sm: 1.2rem;
}

/* login page's form's div's animation */
@keyframes shadowAnimation {
  0% {
    box-shadow: inset -0.5rem 0 1.5rem rgba(255, 255, 255, 0.5);
  }

  25% {
    box-shadow: inset 0 -0.5rem 1.5rem rgba(255, 255, 255, 0.5);
  }
  50% {
    box-shadow: inset 0.5rem 0 1.5rem rgba(255, 255, 255, 0.5);
  }
  75% {
    box-shadow: inset 0 0.5rem 1.5rem rgba(255, 255, 255, 0.5);
  }
  100% {
    box-shadow: inset -0.5rem 0 1.5rem rgba(255, 255, 255, 0.5);
  }
}

.h-body {
  background-image: url(img/23887.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.59);
  background-blend-mode: overlay;
  height: 100vh;
}

/* whole body's font family */
* {
  font-family: var(--my-font);
}

input,
textarea,
select {
  outline: none;
}

html button {
  text-transform: capitalize;
}

/* font size responsiveness for all devices */
html {
  font-size: 62.5%;
}

@media (min-width: 1200px) {
  html {
    font-size: 62.5%;
  }
}

@media (max-width: 1199px) {
  html {
    font-size: 62.5%;
  }
}

@media (max-width: 992px) {
  html {
    font-size: 56.25%;
  }

  .d-data-ctnr {
    margin-top: 1.5rem;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 50%;
  }
}

@media (max-width: 576px) {
  html {
    font-size: 43.75%;
  }
}

@media (max-width: 400px) {
  .d-data-ctnr-prnt {
    width: 100% !important;
  }
}

/* font size responsiveness for all devices end*/

/* topbar */

.form-container {
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(0.5rem);
  border-radius: 1.5rem;
  padding: 3rem;
  animation: shadowAnimation 1.5s infinite linear;
}

.inp-lbl {
  color: white;
  font-size: var(--web-fS-md);
  font-weight: bold;
}

.login-inps {
  background-color: white;
  border-radius: 1rem;
  padding: 1rem;
  border: none;
  font-size: var(--web-fS-md);
  color: black;
  font-weight: 500;
}

.login-inps::placeholder {
  color: black;
  text-transform: capitalize;
  font-weight: 500;
}

.sub-btn {
  background-color: black;
  color: white;
  font-size: var(--web-fS-md);
  font-weight: bold;
  border-radius: 1rem;
  padding: 1rem;
  border: none;
  transition: 0.5s;
}

/* topbar end */

/* dashbord */
.d-body {
  background-color: var(--web-color-l-gray);
}

.dash-col {
  height: 17rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-transform: capitalize;
  border-radius: 100%;
  background-color: var(--web-main-color-light);
}

.dshbd-icon {
  margin-right: 0.5rem;
  font-size: var(--web-fS-md);
}

.opts,
.sub-opts {
  background-color: transparent;
  font-size: var(--web-fS-md);
  padding: 1rem;
  text-align: left;
  border: none;
  color: white;
  text-transform: capitalize;
  transition: 0.5s;
  border-left: 0.5rem solid transparent;
  padding: 1.2rem;
}

.opts:hover,
.sub-opts:hover {
  background-color: black;
  border-left: 0.5rem solid white;
}

.opts:focus,
.sub-opts:focus {
  border-left: 0.5rem solid white;
  background-color: black;
}

.opt-ctnr {
  background-color: var(--web-main-color-light);
  padding: 2rem;
}

.logo-ctnr {
  border-radius: 1rem;
}
.logo-ctnr-2 {
  background-color: #0259db;
}

.sub-opt-ctnr {
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  padding: 0;
  height: 0rem;
  opacity: 0;
  transition: all 0.5s ease;
}

.form-inps {
  background-color: transparent;
  border: 0.2rem solid #dcdcdc;
  font-size: var(--web-fS-md);
  color: black;
  font-weight: 500;
  padding: 1rem;
}

.head-ctnr {
  height: 100vh;
}

.graph-ctnr-2 div,
.graph-ctnr div {
  background-color: white;
  border-radius: 1rem;
  padding: 3rem;
  min-height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#barchart,
#doughnut {
  height: 40vh !important;
}

.d-data-ctnr {
  border-radius: 1rem;
  padding: 2rem;
  transition: 0.5s;
}

.d-num-data :nth-child(1) {
  color: white;
  font-size: var(--web-fS-lg);
  font-weight: 500;
  transition: 0.5s;
}

.d-num-data :nth-child(2) {
  color: white;
  font-size: var(--web-fS-md);
  text-transform: capitalize;
  font-weight: 500;
  transition: 0.5s;
}

.d-data-icon i {
  color: white;
  font-size: var(--web-fS-lg);
  text-align: right;
  transition: 0.5s;
}

.d-data-ctnr:hover .d-data-icon i {
  transform: translateY(1rem) scale(1.1) rotate(10deg);
}

.d-form-head {
  text-transform: capitalize;
  color: black;
  font-weight: bold;
}
/* dashbord end */

.rough {
  border: 0.1rem solid rgb(0, 0, 0);
}

th {
  text-transform: capitalize;
  font-size: var(--web-fS-md);
  color: var(--web-main-color-dark) !important;
}

td {
  color: black !important;
  font-size: var(--web-fS-md);
  font-weight: 600;
  text-transform: capitalize;
}

.form-h-row {
  border: 0.1rem solid white !important;
  background-color: black !important;
  color: white !important;
}

.ed-dl-btn-ctnr button {
  border: none;
  font-size: var(--web-fS-sm);
  font-weight: 600;
  border-radius: 1rem;
  padding: 0.5rem;
  width: 48%;
  margin: 0.1rem;
}

.s-no {
  margin: 0.5rem;
}

.form-ctnr {
  overflow: hidden;
  position: relative;
  height: 100vh;
}

.slide-ctnr {
  position: absolute;
  top: 0;
  transform: translateX(100%);
  opacity: 0;
}

.form-label {
  color: black;
  font-size: var(--web-fS-md);
  font-weight: bold;
}

.add-data-btn {
  color: white;
  background-color: black;
  border-radius: 1rem;
  font-size: 1.5rem;
  border: none;
  padding: 1rem;
  font-weight: bold;
}

.main-form-ctnr {
  height: 80vh;
}

.dropdown span {
  font-size: 1.4rem;
  font-weight: bold;
}

.dropdown-menu small {
  font-size: var(--web-fS-sm);
  font-weight: bold;
}

.dropdown-menu h4 {
  font-weight: bold;
}

.dropdown-item {
  font-size: var(--web-fS-sm);
  font-weight: bold !important;
}
