/* variables for whole web */
:root {
  --my-font: "Montserrat", sans-serif;
  --web-color-l-gray: #efefef;
  --web-main-color-light: #fec982;
  --web-main-color-dark: #5e2c00;

  --web-fS-lg: 4rem;
  --web-fS-md: 1.6rem;
  --web-fS-sm: 1.2rem;
}

/* login page's form's div's animation */
@keyframes shadowAnimation {
  0% {
    box-shadow: inset -0.5rem 0 1.5rem rgba(255, 255, 255, 0.5);
  }

  25% {
    box-shadow: inset 0 -0.5rem 1.5rem rgba(255, 255, 255, 0.5);
  }
  50% {
    box-shadow: inset 0.5rem 0 1.5rem rgba(255, 255, 255, 0.5);
  }
  75% {
    box-shadow: inset 0 0.5rem 1.5rem rgba(255, 255, 255, 0.5);
  }
  100% {
    box-shadow: inset -0.5rem 0 1.5rem rgba(255, 255, 255, 0.5);
  }
}

.h-body {
  background-image: url(img/23887.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.59);
  background-blend-mode: overlay;
  height: 100vh;
}

/* whole body's font family */
* {
  font-family: var(--my-font);
}

*::selection {
  background-color: var(--web-main-color-light);
  color: var(--web-main-color-dark);
}

input,
textarea,
select {
  outline: none;
}

html button {
  text-transform: capitalize;
}

/* font size responsiveness for all devices */
html {
  font-size: 62.5%;
}

@media (min-width: 1200px) {
  html {
    font-size: 62.5%;
  }
}

@media (max-width: 1199px) {
  html {
    font-size: 62.5%;
  }
}

@media (max-width: 992px) {
  html {
    font-size: 56.25%;
  }

  .login-inps {
    margin-right: 1rem !important;
    width: 29%;
  }

  .d-data-ctnr {
    margin-top: 1.5rem;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 50%;
  }

  .login-inps {
    margin-right: 0.5rem !important;
    width: 34%;
  }

  .sub-btn {
    margin-top: 1rem;
    width: 20%;
    transform: translateX(200%);
  }
}

@media (max-width: 576px) {
  html {
    font-size: 43.75%;
  }

  .tb-form {
    position: relative;
    display: flex;
    justify-content: center !important;
    align-items: center;
  }
}

@media (max-width: 400px) {
  .login-inps {
    width: 30%;
  }

  .d-data-ctnr-prnt {
    width: 100% !important;
  }
}

/* font size responsiveness for all devices end*/

/* topbar */
.form-container {
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(0.5rem);
  border-radius: 1.5rem;
  padding: 5rem;
  max-width: 40rem;
  width: 100%;
  animation: shadowAnimation 1.5s infinite linear;
}

.logo {
  width: 10.5% !important;
}

.inp-lbl {
  color: var(--web-main-color-light);
  font-size: var(--web-fS-md);
  font-weight: bold;
}

.login-inps {
  background-color: var(--web-main-color-light);
  border-radius: 1rem;
  padding: 1rem;
  border: none;
  font-size: var(--web-fS-md);
  color: var(--web-main-color-dark);
  margin-right: 3rem;
  font-weight: 500;
}

.login-inps:focus {
  background-color: var(--web-main-color-dark);
  color: var(--web-main-color-light);
  font-weight: 500;
}

.login-inps::placeholder {
  color: var(--web-main-color-dark);
  text-transform: capitalize;
  font-weight: 500;
}

.sub-btn {
  background-color: var(--web-main-color-dark);
  color: var(--web-main-color-light);
  font-size: var(--web-fS-md);
  font-weight: bold;
  border-radius: 1rem;
  padding: 1rem;
  border: none;
  transition: 0.5s;
}

.sub-btn:hover {
  background-color: var(--web-main-color-light);
  color: var(--web-main-color-dark);
}

/* topbar end */

/* dashbord */
.d-body {
  background-color: var(--web-color-l-gray);
}

.dash-col {
  height: 17rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-transform: capitalize;
  border-radius: 100%;
  background-color: var(--web-main-color-light);
}

.dshbd-icon {
  margin-right: 1rem;
  font-size: 2.5rem;
}

.opts,
.sub-opts {
  background-color: transparent;
  font-size: var(--web-fS-md);
  padding: 1.5rem;
  text-align: left;
  border: none;
  color: var(--web-main-color-dark);
  text-transform: capitalize;
  font-weight: bold;
  transition: 0.5s;
  position: relative;
}

.opts:hover,
.sub-opts:hover {
  background-color: white;
}

.opt-ctnr {
  background-color: var(--web-main-color-light);
  padding: 2rem;
}

.sub-opt-ctnr {
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  padding: 0;
  height: 0rem;
  opacity: 0;
  transition: all 0.5s ease;
}

.form-inps {
  background-color: var(--web-main-color-light);
  border: 0.1rem solid var(--web-main-color-dark);
  font-size: var(--web-fS-sm);
  color: var(--web-main-color-dark);
  font-weight: 500;
  width: 100%;
}

.form-inps:focus {
  background-color: var(--web-main-color-dark);
  color: var(--web-main-color-light);
}

.form-inps::placeholder {
  color: var(--web-main-color-dark);
  font-weight: 500;
  text-transform: capitalize;
}

.head-ctnr {
  height: 100vh;
}

.graph-ctnr-2 div,
.graph-ctnr div {
  background-color: white;
  border-radius: 1rem;
  padding: 3rem;
  min-height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#barchart,
#doughnut {
  height: 40vh !important;
}

.d-data-ctnr {
  background-color: var(--web-main-color-light);
  border-radius: 1rem;
  padding: 2rem;
  transition: 0.5s;
}

.d-num-data :nth-child(1) {
  color: var(--web-main-color-dark);
  font-size: var(--web-fS-lg);
  font-weight: 500;
  transition: 0.5s;
}

.d-num-data :nth-child(2) {
  color: var(--web-main-color-dark);
  font-size: var(--web-fS-md);
  text-transform: capitalize;
  font-weight: 500;
  transition: 0.5s;
}

.d-data-icon i {
  color: var(--web-main-color-dark);
  font-size: var(--web-fS-lg);
  text-align: right;
  transition: 0.5s;
}

.d-data-ctnr:hover {
  background-color: var(--web-main-color-dark);
}

.d-data-ctnr:hover .d-num-data :nth-child(1),
.d-data-ctnr:hover .d-num-data :nth-child(2),
.d-data-ctnr:hover i {
  color: var(--web-main-color-light);
}

.d-form-head {
  text-transform: capitalize;
  color: var(--web-main-color-dark);
  font-weight: bold;
}
/* dashbord end */

.rough {
  border: 0.1rem solid rgb(0, 0, 0);
}

th {
  text-transform: capitalize;
  font-size: var(--web-fS-md);
  color: var(--web-main-color-dark) !important;
}

.added-data{
  color: var(--web-main-color-dark);
  font-size: var(--web-fS-md);
  font-weight: 600;
}

.added-data-ctnr-inner{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: .1rem solid var(--web-main-color-dark);
  border-top: .1rem solid var(--web-main-color-dark);
}

.added-data-ctnr-inner :nth-child(2){
  display: flex;
  justify-content: space-between;
  align-items:center;
  gap: 10rem;
}

.added-data-ctnr-inner :nth-child(3){
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.added-data-ctnr-inner :nth-child(3) button{
  border: none;
  background-color: var(--web-main-color-light);
  color: var(--web-main-color-dark);
  font-size: var(--web-fS-md);
  font-weight: 600;
}