/* variables for whole web */
:root {
  --my-font: "Montserrat", sans-serif;
  --web-color: #000000;
}

.h-body {
  background-image: url(img/23887.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

/* whole body's font family */
* {
  font-family: var(--my-font);
}

*::selection {
  background-color: var(--web-color);
  color: white;
}

input,
textarea {
  outline: none;
}

/* font size responsiveness for all devices */
html {
  font-size: 62.5%;
}

@media (min-width: 1200px) {
  html {
    font-size: 62.5%;
  }
}

@media (max-width: 1199px) {
  html {
    font-size: 62.5%;
  }
}

@media (max-width: 992px) {
  html {
    font-size: 56.25%;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 50%;
  }
}

@media (max-width: 576px) {
  html {
    font-size: 43.75%;
  }
}

/* font size responsiveness for all devices end*/





/* topbar */

.topbar {
  box-shadow: 0.2rem 0.4rem 1rem rgb(194, 194, 194);
  position: fixed;
  top: 0;
  z-index: 999;
  background-color: white;
}

.inp-lbl {
  color: var(--web-color);
  font-size: 1.6rem;
  font-weight: bold;
  margin-right: 1rem;
}

.login-inps {
  background-color: var(--web-color);
  border-radius: 1rem;
  padding: 1rem;
  border: none;
  font-size: 1.5rem;
  color: rgb(255, 255, 255);
  margin-right: 3rem;
}

.login-inps::placeholder {
  color: white;
  text-transform: capitalize;
}

.sub-btn {
  background-color: transparent;
  color: var(--web-color);
  font-size: 1.6rem;
  font-weight: bold;
  border: .1rem solid var(--web-color);
  border-radius: 1rem;
  padding: 1rem;
  transition: .5s;
}

.sub-btn:hover {
  background-color: var(--web-color);
  color: white;
  border: .1rem solid transparent;
}

/* topbar end */






/* dashbord */
.dash-col {
  height: 17rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-transform: capitalize;
  border-radius: 100%;
  background-color: var(--web-color);
}

.opts {
  background-color: white;
  border-radius: 1rem;
  padding: 1.5rem;
  width: 68%;
  border: none;
  font-size: 1.5rem;
  margin-top: 1rem;
  color: var(--web-color);
  text-transform: capitalize;
  font-weight: bold;
}

.sub-opts {
  background-color: transparent;
  border-radius: 1rem;
  padding: 1.5rem .5rem;
  width: 68%;
  border: .1rem solid white;
  font-size: 1.5rem;
  margin-top: 1rem;
  color: white;
  text-transform: capitalize;
  font-weight: bold;
}

.opt-ctnr {
  background-color: var(--web-color);
  padding: 2rem;
}

.sub-opt-ctnr {
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  padding: 0;
}

.inp-ctnr {
  padding: 3rem;
}

.form-inps {
  background-color: transparent;
  border-radius: 1rem;
  padding: 1rem;
  border: .1rem solid var(--web-color);
  font-size: 1.5rem;
  margin-top: 1rem;
  width: 100%;
  color: var(--web-color);
  font-weight: bold;
}

.form-inps::placeholder {
  color: var(--web-color);
  font-weight: bold;
}

.head-ctnr {
  height: 100vh;
}

.graph-item {
  width: 4rem;
  border: .1rem solid white;
  background-color: var(--web-color);
  color: white;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: end;
  padding: 0 .5rem;
  font-size: 1.5rem;
}

/* dashbord end */





.rough {
  border: .1rem solid rgb(0, 0, 0);
}

.ctnr-pad {
  padding: 7rem 0;
}

.hide {
  display: none;
}